<body>
<div>
  <h3 *ngIf="room" class="h3 mb-4 font-weight-normal" style="text-align: center">{{room.name}}</h3>
  <br>
  <div>
    <h2 class="h3 mb-4 font-weight-normal" style="text-align: center"> Room's Items</h2>

    <table *ngIf="room && room.items" style="width: 100%" class="table table-striped table-bordered">
      <caption>List of Items</caption>
      <thead class="thead-dark">
      <tr>
        <th>Items</th>
        <th>Votes</th>
        <th>Votes average</th>
        <th>Your votes</th>
        <th *ngIf="user && user.isAdmin">Admin actions</th>
      </tr>
      </thead>
      <tr *ngFor='let item of room.items' id="{{item.id}}">
        <!--ITEM NAME -->
        <td width="150px">{{item.name}}</td>

        <!--VOTES-->
        <td style="text-align: right" *ngIf="item.votes;else noVote">
          <ul  *ngIf="user && (user.isAdmin || item.isClosed); else waitingForClosing"><li *ngFor="let vote of item.votes" style="text-align: left"> {{displayVote(vote)}}</li></ul>
          <ng-template #waitingForClosing>Waiting for votes closure</ng-template>
        </td>

        <!--VOTES AVERAGE -->
        <td *ngIf="(user && (user.isAdmin || item.isClosed)) && item.votes && item.votes.length > 0; else noVote" style="text-align: center">{{voteAverage(item.votes)}}</td>

        <!--VOTE COMPONENT-->
        <td *ngIf="!item.isClosed; else votesClosed" >
          <app-vote *ngIf="item  && (!alreadyVoted(item.id) && !item.isClosed); else editVote" [itemId]="item.id" (voted)="votedCallBack()"></app-vote>
          <ng-template #editVote>
            <app-vote  [userVote]="getUserVote(item.id)"  [itemId]="item.id" (voted)="votedCallBack()"></app-vote>
          </ng-template >
        </td>

        <ng-template #votesClosed>
          <td> Votes closed</td>
          </ng-template>

        <!--ADMIN ACTIONS -->
        <td *ngIf="user && user.isAdmin">
          <button *ngIf="!item.isClosed; else reOpenVotes" type="submit" (click)="closeVotes(item.id, true)" class="form-control btn btn-primary" style="width: auto;">Close votes</button>
          <ng-template #reOpenVotes>
            <button  type="submit" (click)="resetVotes(item.id)" class="form-control btn btn-primary" style="width: auto;">Reset votes</button>
          </ng-template>
        </td>

      </tr>
    </table>

  </div>

</div>

<ng-template #noVote>
  <td style="text-align: center">-</td>
</ng-template>
<!-- <br>
 <button class="btn btn-lg btn-danger btn-block" type="button" (click)="clearItems()">Delete all items</button>
 <br>
 <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="updateRoom()">Save room</button>
-->

</body>
